pandas==0.24.2
numpy==1.13.3
dash==2.15.0
dash_core_components==1.2.1
dash_html_components==1.0.1
gensim==3.8.0
networkx==2.3
nltk==3.4.5
plotly==4.1.1
stop_words==2018.7.23
tweepy==3.8.0
vaderSentiment==3.2.1
